:root{
--primary-color: #757575;
--primary-title-color: #FFFFFF;
--title-color:#212121;
--effects-color:#2196F3;
--footer-color:rgba(255, 255, 255, 0.6) ;
--button-color:#2196F3;
--body-color:#FFFFFF;
}

body{
font-family: 'Roboto';
background-color:var(--primary-title-color);
color: var(--primary-color);
}
.speciality-title, .activity-title, .team-title, .list-title, .title, .title-image{
 color:var(--title-color) ;
}
/*Тексти*/
/*Колір Тексту: сірий #757575/
/*Колір адреси і заголовків: білий #FFFFFF,чорний #212121/
/*Колір ефектів: блакитний #2196F3*/
/*Колір телефону і пошти у футері:rgba(255, 255, 255, 0.6)*/
/*Фони*/
/*Колір шапки:#FFFFFF*/
/*Колір першої секції і футера:#2F303A*/
/*Колір секції з командою:#F5F4FA*/

/*header*/
.page-header{
    background-color: #FFFFFF;
    width: 1600px;
    height: 80px;
    border-bottom: 1px solid #ECECEC;
}

.header-list .link-item:hover, .header-list .link-item:focus, .link-contacts:hover, .link-contacts:focus{
    color:var(--effects-color) ;
}
.page-header a, .footer a{text-decoration: none;}

/*site nav*/

.site-nav .link-item.current{
    color: var(--effects-color);}

.logo{
color:var(--title-color);
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
position: absolute;
width: 145px;
height: 31px;
padding-top: 24px;
padding-left: 215px;
margin: 0px auto;

}
.logo .web {color:var(--effects-color);}

ul{list-style: none;}

.link-item{
    color: var(--title-color);
    margin-right: 50px;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.link-contacts{
    color:var(--primary-color) ;
    margin-right: 50px;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.header-contacts, .header-list{
    display: inline-flex;
  flex-direction: row;
  justify-content: center;
 position: absolute;
}
.header-list{
 margin: 32px 866px 32px 453px ;
 padding: 0;
}
.header-contacts{
    margin: 32px 165px 32px 1078px ;
    width: 357px;
    padding: 0;
}

/*Section banner*/
.banner{
    background-color: #2F303A;
    width: 1600px;
    height: 600px;
}
.banner-title{color: var(--primary-title-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align:center;
letter-spacing: 0.06em;
text-transform: uppercase;
width: 696px;
height: 120px;
position: absolute;
margin: 200px 452px 280px 452px;}

button.banner-btn{
    background-color:var(--button-color);
    color: var(--primary-title-color);
    text-align: center;
    text-transform: none;
    width: 216px;
    height: 50px;
    margin: 350px 692px 200px 692px;
    cursor: pointer;
    border-radius: 4px ;
    border-top-left-radius: 4 px;
    border-top-right-radius: 4 px;
    border-bottom-right-radius: 4 px;
    border-bottom-left-radius: 4 px;
    border: 1px solid var(--button-color);
    padding: 10px 32px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*Section speciality*/

.speciality{
    width: 1200px ;
    height: 98px;
    margin: 90px 185px 94px 215px;
}
.speciality-list{
    display: inline-flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}
.speciality-item{
    width: 270px;
    height: 98px;
    margin-right: 30px;
    font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 1.7;
letter-spacing: 0.03em;
}

.speciality-item .list-title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-top: 0;
margin-bottom: 10px;
}

/*Section activity*/

.activity{
    width: 1200px ;
    height: 386px;
    margin: 0px 185px 94px 215px;
}

.activity-title{
margin-top: 0px;
 margin-bottom: 50px;
 width: 367px;
 height: 42px;
 padding-left: 402px;
 
}
.activity-title, .team-title{
    text-align: center;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
}

.activity-list{
display: inline-flex;
flex-direction: row;
    padding: 0px;
    margin: 0px;
}
.activiti-item{
    margin-right: 30px;
}


/*Section team*/

.team{background-color: #F5F4FA;
  width: 1600px ;
    height: 648px;
    margin: 0px;
}
.team-title{
    padding-top: 94px;
    padding-left: 668px;
    margin: 0px;
    width: 265px; ;
    height: 42px;
}
.team-list{
    display: inline-flex;
 flex-direction: row;
 width: 1200px;
 height: 368 px;
    padding: 0px;
    margin: 50px 185px 0px 215px;
}
.team-item{
    margin-right: 30px;
    background-color: var(--body-color);
    filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
.team-item > .title{
    text-align: center;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
}
.team-item > .text {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
}




/*Footer*/
.footer{background-color: #2F303A;
width: 1600px;
 height: 252px;}

.logo-footer{
    color:var(--primary-title-color);
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
position: absolute;
width: 145px;
height: 31px;
padding-top: 60px;
padding-left: 215px;
margin: 0px auto;
}
.logo-footer .web {color:var(--effects-color);}

.address-list{
position: absolute;
width: 231px;
height: 81px;
margin-top: 111px;
margin-left: 215px;
padding: 0;
}

.item.address{color: #FFFFFF;}

.item.mail, .item.tel{color:var(--footer-color);}

.address-list .item{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;}
.address-list li{
    margin-bottom: 9px;
}








/*Portfolio*/
.body-portfolio{
 width: 1600px;
 height: 1880px;
 background-color: #FFFFFF;
}
.main-portfolio, .section-portfolio{
    background-color: #FFFFFF;
    max-width: 1600px;
 max-height: 1548px;

}
.portfolio{background-color: #FFFFFF;}

button.item{
    background-color:#F5F4FA;
    color: #212121;
    text-decoration: none;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.62;
 text-align: center;
 letter-spacing: 0.03em;
 border: none;
    cursor: pointer;
   height: 38px;
   margin-right: 8px;
   padding: 6px 22px;
   border-radius: 4px ;
    border-top-left-radius: 4 px;
    border-top-right-radius: 4 px;
    border-bottom-right-radius: 4 px;
    border-bottom-left-radius: 4 px;
}

button.item.all{
    padding: 6px 25px;
}

.portfolio-menu{
 display: inline-flex;
 flex-direction: row;
margin: 94px 504px 20px 512px;
width: 585px;
padding: 0px;
}

button.item:hover, button.item:focus{
    background-color: var(--effects-color);
    color:#FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.image-menu{
    display: flex;
    flex-wrap: wrap;
    flex-basis:auto;
    margin: 0px 185px 94px 215px;
   padding: 0px;
   max-width: 1200px;
   max-height: 1302px;
}

.image-menu > .item{
max-width: 368px;
max-height: 402px;
 margin-right: auto;
 margin-top: 30px;
background-color:#FFFFFF ;
border: 1px solid #EEEEEE;}

.title-image{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
margin-top: 20px;
margin-bottom: 4px;
padding-left: 24px;
}

.image-menu .text{
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
margin: 0px;
padding-bottom: 20px;
padding-left: 24px;
}


/*Contacts*/

.contacts{
    width: 1600px;
}
.contacts-title{
    color: var(--title-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align:center;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
}

